name: Java CI with Maven

on:
  push:
    branches:
      - dev
      - uat
      - main
  workflow_dispatch:

env:
  APP_DIR: app

jobs:
  build:
    runs-on: self-hosted
    env:
      # keep ACTUAL_BRANCH available for scripts
      ACTUAL_BRANCH: ${{ github.ref_name || 'dev' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine branch (set ACTUAL_BRANCH)
        id: set-branch
        run: |
          BRANCH_NAME="${GITHUB_REF##*/}"
          echo "Detected branch: $BRANCH_N_
